<div class="container" v-if="loaded">
  <div class="row">
    <router-link :to="skip()">
      <button class="btn btn-info btn-block">{{skipText}}</button>
    </router-link>
  </div>
  <div class="row" id="title">
    <h3>{{page.title}}</h3>
    <br>
  </div>
  <div class="row" id="images">
    <div :class="dynamicClass" v-for="imgRef in page.imgRefs">
      <router-link :to="getNextPage(imgRef)">
        <img :src="imgRef.ref" :class="isSelected(imgRef)" :alt="imgRef.altText">
      </router-link>
    </div>
  </div>
  <br>
</div>
